footer {
 
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 40px 0px;
  background-color: black;
  height: 200px;
  width: 100%;
  color: #ffffff;
}

.copyright {
  font-size: 24px;
}
