footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  bottom: -1;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 40px 0px;
  background-color: $noir;
  height: 200px;
  width: 100%;
  color: $text-color;
}

.copyright {
  font-size: 24px;
}
