button {
  background: none;
  border: none;
  cursor: pointer;
  &._barre-dropdown {
    border: none;
    display: flex;
    font-size: 18px;
    width: 100%;
    border-radius: 10px;
    background-color: $barre-dropdown;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
  }
}
