.informations {
  display: flex;

  width: 100%;
}
.conteneur__dropdown {
  display: flex;
  width: 100%;
}

.dropdownsmall {
  border: none;
  display: flex;

  flex-direction: column;
  width: 47%;
  border-radius: 10px;
  margin-bottom: 40px;
}

.barre__dropdown {
  border: none;
  display: flex;
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
  background-color: $barre-dropdown;

  justify-content: space-between;
  align-items: center;

  padding-left: 20px;
}

.greyContainer {
  display: flex;
  position: relative;

  width: 100%;
  z-index: -1;
  top: -15px;
}

.dropdownlarge {
  border: none;
  display: flex;

  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

.titre__dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 52px;
  color: $text-color;
  font-weight: 500;
}

.chevron {
  height: 50%;
  width: 26px;
  padding-right: 10px;
  color: $fleches-carrousel;
}
ul.contenu__dropdown {
  line-height: 25px;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  background-color: $gallery-ground;
  color: $barre-dropdown;
  width: 100%;
  border-radius: 10px;
  line-height: 30px;
}
li.equipment {
  list-style: none;
  text-decoration: none;
}
.equipements {
  display: flex;
  flex-direction: column;
}

