.header {
  display: flex;
  justify-content: space-between;
  margin : 10px 0px 50px 0px;
  
}

a.logoClic {
  size: 100%;
}


.logo {
  width: 100%;
}
.navigation{display:flex;
  align-items: center ;
  margin-left: 10px;
}
ul {
  display: flex;
  padding: 0px;
  width: 300px;
  justify-content: space-between;
}
.li__nav {
  list-style-type: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: $card-background;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    color: $card-gradiant;
  }
}

.nav-active {
  position: relative;

  &::after {
    content: '';
    height: 1px;
    width: 0;
    background: $card-background;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: anim 0.3s ease forwards;
    animation: anim 0.3s ease forwards;
   
    @keyframes anim {
      to {
        width: 100%;
      }
    }
  }
}

a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}
