.body__404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

h1.Page404 {
  font-size: 288px;
  font-weight: 700;
  color: $text404;
  margin-bottom: 50px;
}

h3.oups {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: $text404;
  margin-bottom: 50px;
}

.retour__accueil {
  font-size: 18px;
  font-weight: 500;
}
.retour__accueil {
  text-decoration: underline;
  margin-top: 100px;
  color: $text404;
}
