.body__404 {
  @include flex-center;
  flex-direction: column;
  margin-top: 100px;
}

h1.Page404 {
  font-size: 288px;
  font-weight: 700;
  color: $text404;
  margin-bottom: 50px;
}

.oups {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: $text404;
  margin-bottom: 50px;
}

.retour__accueil {
  font-size: 18px;
  font-weight: 500;
}
.retour__accueil {
  text-decoration: underline;
  margin-top: 100px;
  color: $text404;
}
