//background: url(kalen-emsley-Bkci_8qcdvQ-unsplash.jpg);
.aPropos_section1 {object-fit: cover;
  background-size: cover;
  background-image: linear-gradient(
      rgba(114, 114, 114, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash.png);
 @include flex-center;
  border-radius: 10px;
  height: 223px;
  margin: 40px 0px 20px 0px;
}

.aproposBanniere {
  display: none;
}

.informations__apropos {
  display: flex;
  flex-direction: column;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: flex-start;
}

.description__dropdown {
  display: block;
}
