.fiche-logement {
  display: flex;
  height: 100%;
  width: 100%;
}

.section_apercu {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px 20px 0px;
}

.description__loc {
  width: 77%;
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.titreFiche {
  display: flex;
  color: $logement-title;
  font-weight: 500;
  font-size: 36px;
  text-align: left;
}

.localisation {
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  color: $logement-title;
}

.tags__ficheLogement {
  display: flex;
}

.tags {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 10px 20px 0px 0px;
  background-color: $tag-color;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  line-height: 25px;
  color: $tag-text;
  font-weight: 500;
}

.description__user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.id__contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nom__contact {
  color: $username;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  text-align: right;
  padding-right: 10px;
  line-height: 30px;
  font-size: 18px;
}

.stars {
  display: flex;
  height: 40px;
  justify-content: right;
  align-items: center;
}

.etoilesroses {
  width: 30px;
  margin: 3px;
}

.etoilesgrises {
  width: 30px;
  margin: 3px;
}

.avatar__contact {
  display: block;
  width: 64px;
  height: 64px;
  background-color: $background-avatar-none;
  border-radius: 50%;
}

.section_detail {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
