

.ficheLogement {
  display: flex;
  height: 100%;
}

.titreFiche {
  display: flex;
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;

  text-align: left;
}
.section__description {
  display: flex;
  justify-content: space-between;
}
.description__loc {
  width: 77%;
}
.informations {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.tags__ficheLogement {
  display: flex;
}
.tags {
  margin: 10px 20px 0px 0px;
  background-color: #ff6060;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
  line-height: 25px;
  color: white;
  font-weight: 400;
}

.description__user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
}
.id__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nom__contact {
  color: #ff6060;
  display: flex;
  flex-wrap: wrap;
  width: 70px;
}
.notation {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.avatar__contact {
  display: block;
  width: 64px;
  height: 64px;
  background-color: grey;
  border-radius: 50%;
}

.description__loc {
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.section__description {
  margin: 40px 0px 40px 0px;
}
.localisation {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
}

#text {
  background-color: #ff6060;
  color: white;
}
