.banner {
  background-size: cover;
  background-image: linear-gradient($gradiant-image-banner, $gradiant-image-banner),
    url('../../assets/homeBackgroundSec1.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 223px;
  margin: 20px 0px 20px 0px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  color:$h1-color;
}
.fond1 {
  opacity: 0.1;
}

.gallery_ground {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $gallery-ground;
  border-radius: 25px;
  margin: 40px 0px 20px 0px;
  padding: 40px;
  flex-wrap: wrap;
}
