@media only screen and (max-width: 320px) {
  #root {
    display: none;
  }
}






// ----------------- POUR ECRANS DE SMARTPHONES ---------------------
@media only screen and (max-width: 480px) and (min-width: 321px) {
  body {
    padding: 10px;
  }

  // ----------------- Barre de  Navigation  ---------------------
  .logo {
    width: 70%;
  }
  a.logoClic {
    width: 50%;
  }
  .navigation {
    display: flex;
    width: 45%;
    justify-content: space-between;
  }
  ul {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .li__nav {
    font-size: 16px;
  }

// ----------------- image d'entête  ---------------------

  .home_section1 {
    height: 7em;
  }
  .HomeBanniere {
    font-size: 23px;
  }
  .conteneur__imageEntete {
    margin-left: 10px;
  }

  // ----------------- Section des CARDS  ---------------------
  
  .gallery_ground {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    flex-wrap: wrap;
  }

  .card {
    background: linear-gradient(rgb(255, 96, 96), rgba(133, 43, 43, 0.952));
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #dedede;
  }

  .conteneurImage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 240px;
  }

  .imgCard {
    display: flex;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
  }
  .conteneur_description_card {
    display: flex;
    width: 85%;
    height: 20%;
  }

  .descrition_card {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgb(255, 255, 255);
  }

  footer {
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px 0px;
    background-color: black;
    height: 200px;
    width: 100%;
    color: #ffffff;
  }

  .copyright {
    margin-top: 20px;
    font-size: 12px;
  }
  .logoFooter {
    width: 100px;
  }
  .conteneurCarrousel {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    border-radius: 20px;
    height: 340px;
    width: 100%;
    z-index: 0;
  }
  .tags__ficheLogement {
    flex-wrap: wrap;
  }
  div.tags {
    margin: 10px;
  }
  .conteneur_fleches {
    position: absolute;
    display: flex;
    align-items: center;
    width: 80%;
    height: 350px;
    justify-content: space-between;
  }

  .imageCarrousel__visible {
    position: relative;
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 340px;
    z-index: -1;
  }
  .numero__image {
    top: 400px;
    left: 47%;
  }

  .imageCarrousel__cachee {
    display: none;
  }

  .fa-chevron-right {
    color: white;
    position: relative;
    width: 30px;
    height: 30px;
  }

  .fa-chevron-left {
    color: white;
    position: relative;
    width: 30px;
    height: 30px;
  }

  .section__description {
    flex-direction: column;
    margin: 10px 0px 10px 0px;
  }
  .description__loc {
    width: 100%;
  }
  .description__user {
    flex-direction: row-reverse;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .avatar__contact {
    width: 40px;
    height: 40px;
  }

  .titreFiche {
    display: flex;
    color: #ff6060;
    font-weight: 500;
    font-size: 28px;
    text-align: left;
  }
  .localisation {
    font-size: 14px;
    font-weight: 500;
    color: #ff6060;
  }
  .tags {
    margin: 0px 20px 0px 0px;
    background-color: #ff6060;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    line-height: 25px;
    color: white;
    font-weight: 400;
    font-size: 12px;
  }
  .etoilesroses {
    width: 20px;
  }
  .etoilesgrises {
    width: 20px;
  }
  .informations {
    flex-direction: column;
  }
  .barre__dropdown {
    height: 40px;
    width: 100%;
  }
  .dropdownsmall {
    width: 100%;
  }
  .contenu__dropdown {
    align-items: start;
  }

  h1.Page404 {
    margin: 100px 0px 10px 0px;
    font-size: 140px;
    font-weight: bolder;
  }
  h3.oups {
    margin: 10px 10px 200px 10px;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
  }
}




// ----------------- POUR ECRANS DE TABLETTES ---------------------
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .logo {
    width: 80%;
  }
// ----------------- Barre de  Navigation  ---------------------
  .navigation {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }
  .li__nav {
    font-size: 20px;
  }
  .home_section1 {
    height: 10em;
  }
  .gallery_ground {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    flex-wrap: wrap;
  }
  .card {
    background: linear-gradient(rgb(255, 96, 96), rgba(133, 43, 43, 0.952));
    display: flex;
    width: 100%;
    height: 340px;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #dedede;
  }

  .conteneurImage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 280px;
  }

  .imgCard {
    display: flex;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
  }
  .conteneur_description_card {
    display: flex;
    width: 85%;
    height: 18%;
  }

  .descrition_card {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgb(255, 255, 255);
  }

  .conteneurCarrousel {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    border-radius: 20px;
    height: 400px;
    width: 100%;
    z-index: 0;
  }
  .conteneur_fleches {
    position: absolute;
    display: flex;
    align-items: center;
    width: 80%;
    height: 400px;
    justify-content: space-between;
  }

  .imageCarrousel__visible {
    position: relative;
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 400px;
    z-index: -1;
  }
  .numero__image {
    top: 500px;
    left: 48%;
  }

  .imageCarrousel__cachee {
    display: none;
  }

  .description__loc {
    width: 100%;
  }
  .tags__ficheLogement {
    flex-wrap: wrap;
  }
  div.tags {
    margin: 10px;
  }

  .fa-chevron-right {
    color: white;
    position: relative;
    width: 50px;
    height: 50px;
  }

  .fa-chevron-left {
    color: white;
    position: relative;
    width: 50px;
    height: 50px;
  }

  .titreFiche {
    display: flex;
    color: #ff6060;
    font-weight: 500;
    font-size: 28px;
    text-align: left;
  }
  .localisation {
    font-size: 14px;
    font-weight: 500;
    color: #ff6060;
  }
  .tags {
    margin: 0px 20px 0px 0px;
    background-color: #ff6060;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    line-height: 25px;
    color: white;
    font-weight: 400;
    font-size: 12px;
  }

  .section__description {
    flex-direction: column;
    margin: 10px 0px 10px 0px;
  }
  .description__user {
    flex-direction: row-reverse;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .avatar__contact {
    width: 60px;
    height: 60px;
  }
  .etoilesroses {
    width: 20px;
  }
  .etoilesgrises {
    width: 20px;
  }

  .copyright {
    margin-top: 20px;
    font-size: 16px;
  }
  .logoFooter {
    width: 150px;
  }

  h1.Page404 {
    margin: 100px 0px 10px 0px;
    font-size: 140px;
    font-weight: bolder;
  }
  h3.oups {
    margin: 10px 10px 200px 10px;
    font-size: 25px;
    text-align: center;
    font-weight: 400;
  }
  .retour__accueil {
    font-size: 24px;
  }
}
// ----------------- POUR PETITS ECRANS PC ---------------------
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

// ----------------- POUR grands ECRANS PC ---------------------
@media only screen and (min-width: 1024px) {
}
