//background: url(kalen-emsley-Bkci_8qcdvQ-unsplash.jpg);


.informations__apropos{display: flex;
flex-direction: column;
display:flex;
    height:1000px;
    align-items: center;
    justify-content: start;}

.description__dropdown{display:block;
}