.dropdown {
  border: none;
  display: flex;
  width: 45%;
  height: 52px;
  border-radius: 10px;
  background-color: rgb(255, 96, 96);
  padding-left: 20px;
}

.titre__dropdown {
  display: flex;
  justify-content: start;
  align-items: center;
 
  height: 52px;
  color: white;
  font-weight:400;

}
