.informations {
  display: flex;

  width: 100%;
}
.dropdownsmall {
  border: none;
  display: flex;

  flex-direction: column;
  width: 45%;
  border-radius: 10px;
  margin-bottom: 40px;
}

.barre__dropdown {
  border: none;
  display: flex;

  width: 100%;
  border-radius: 10px;
  background-color: rgb(255, 96, 96);

  justify-content: space-between;
  align-items: center;

  padding-left: 20px;
}

.greyContainer {
  display: flex;
  position: relative;

  width: 100%;
  z-index: -1;
  top: -15px;
}

ul.contenu__dropdown {
  line-height: 25px;
  display: flex;

  flex-direction: column;
  padding: 20px 20px 20px 20px;
  background-color: rgb(226, 226, 226);
  color: rgb(255, 96, 96);
  width: 100%;
  border-radius: 10px;
  z-index: -1;
}

.dropdownlarge {
  border: none;
  display: flex;

  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 40px;
}

li.equipment {
  list-style: none;
  text-decoration: none;
}

.titre__dropdown {
  display: flex;
  justify-content: start;
  align-items: center;

  height: 52px;
  color: white;
  font-weight: 400;
}

.chevron {
  height: 50%;
  width: 5%;
  padding-right: 10px;
  color: rgb(0, 0, 0);
}

.equipements {
  display: flex;
  flex-direction: column;
}

.conteneur__dropdown {
  display: flex;
  width: 100%;
}
