$card-background: #ff6060;
$noir: rgb(0, 0, 0);
$card-gradiant: #7a2929f3;
$shadow: #dedede;
$shadow-over: #494949;
$gallery-ground: #f7f7f7;
$text-color: #ffffff;
$h1-color: #ffffff;
$body-background: #ffffff;
$fleches-carrousel: white;
$compteur-carrousel: white;
$barre-dropdown: #ff6060;
$text404: #ff6060;
$tag-text: white;
$tag-color: #ff6060;
$logement-title: #ff6060;
$gradiant-image-banner: #08080857;
$username: #ff6060;
$background-avatar-none: #c4c4c4;
