// -------- en cas de resolution trop petite -----------------

@media only screen and (min-width: 0px) and (max-width: 319px) {
  body {
    padding: 0px;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
  #root {
    display: none;
  }

  .not-supported {
    display: flex;
    object-fit: cover;
    width: 120px;
    height: 200px;
    align-content: center;
    background-image: url('../../assets/notsupported.png');
    background-repeat: no-repeat;
  }
}

// ------------ POUR ECRANS MOBILES ----------------
@media only screen and (min-width: 320px) and (max-width: 767px) {
  body {
    padding: 20px;
  }
  .header {
    margin: 10px 0px 20px 0px;
  }
  // ---- Barre de  Navigation  ----
  .logo {
    width: 5em;
  }

  .navigation {
    width: 10em;
  }

  .li__nav {
    text-transform: uppercase;
    font-size: 12px;
  }

  // ---- image d'entête  ----

  .banner {
    height: 111px;
    border-radius: 10px;
  }
  h1 {
    font-size: 26px;
  }
  .conteneur__imageEntete {
    margin-left: 10px;
  }

  // ---- Section des CARDS -----

  .gallery_ground {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    padding: 0px;
  }

  .card {
    width: 100%;
    height: 255px;
    margin: 10px 0px 10px 0px;
  }

  .descrition_card {
    font-weight: 400;
    font-size: 14px;
  }
  // ---- Footer ----
  .copyright {
    margin-top: 20px;
    font-size: 12px;
  }
  .logoFooter {
    width: 100px;
  }

  //------------------------ Carrousel --------------------------
  .conteneurCarrousel {
    margin-top: 20px;
    height: 255px;
  }
  .conteneur_fleches {
    left: 20px;
    right: 20px;
    top: 120px;
  }

  .imageCarrousel {
    height: 255px;
  }
  .numero__image {
    top: 220px;
    left: 47%;
    font-size: 14px;
  }

  .fa-chevron-right {
    width: 20px;
    height: 20px;
  }

  .fa-chevron-left {
    width: 20px;
    height: 20px;
  }

  //--------------------------- Description logement  --------------------------
  .titreFiche {
    font-size: 18px;
    line-height: 25px;
  }
  .localisation {
    font-size: 14px;
  }
  .section__description {
    flex-direction: column;
    margin: 10px 0px 10px 0px;
  }

  .tags__ficheLogement {
    flex-wrap: wrap;
  }
  .tags {
    height: 18px;
    border-radius: 5px;
    margin: 10px 5px 10px 5px;
    padding: 0px 10px 0px 10px;
    line-height: 25px;
    font-size: 10px;
  }

  .description__loc {
    width: 100%;
  }
  .description__user {
    flex-direction: row-reverse;
    padding-top: 20px;

    align-items: center;
    width: 100%;
  }
  .avatar__contact {
    width: 32px;
    height: 32px;
  }

  .nom__contact {
    font-size: 12px;
    text-align: right;
    line-height: 20px;
  }

  .etoilesroses {
    width: 15px;
  }
  .etoilesgrises {
    width: 15px;
  }
  // ---- Section des dropdowns ----
  .informations {
    flex-direction: column;
  }

  .barre__dropdown {
    height: 30px;
    width: 100%;
    border-radius: 5px;
  }
  .titre__dropdown {
    font-size: 13px;
  }
  .dropdownsmall {
    width: 100%;
  }
  .dropdownlarge {
    margin-bottom: 20px;
  }
  .contenu__dropdown {
    align-items: start;
  }
  ul.contenu__dropdown {
    font-size: 12px;
    line-height: 20px;
  }
  .chevron {
    width: 15px;
  }
  // ---- Page 404 ----
  h1.Page404 {
    margin: 100px 0px 10px 0px;
    font-size: 96px;
    font-weight: bolder;
  }
  h3.oups {
    width: 80%;
    margin: 10px 10px 100px 10px;
    font-size: 18px;
  }
  .aPropos_section1 {
    height: 223px;
    object-fit: cover;
  }
}
