//*{outline : 1px solid red}
// Permet d'afficher toute des divs par encadrement

// ---------------- Règles CSS GLOBLES --------------
html {
  display: flex;
  justify-content: center;
}

#root {
  max-width: 1440px;
  width: 100%;
}

body {
  display: flex;
  width: 1440px;
  justify-content: center;
  background-color: $body-background;
  padding: 20px 100px 0px 100px;
}

